{% load static %}
    
<!-- container-scroller -->
<!-- plugins:js -->
<script src="{% static 'plugins/vendors/js/vendor.bundle.base.js' %}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="{% static 'plugins/vendors/sweetalert/sweetalert.min.js' %}"></script>
<script src="{% static 'plugins/vendors/jquery.avgrund/jquery.avgrund.min.js' %}"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="{% static 'plugins/js/off-canvas.js' %}"></script>
<script src="{% static 'plugins/js/hoverable-collapse.js' %}"></script>
<script src="{% static 'plugins/js/misc.js' %}"></script>
<script src="{% static 'plugins/js/settings.js' %}"></script>
<script src="{% static 'plugins/js/todolist.js' %}"></script>
<script src="{% static 'plugins/js/jquery.cookie.js' %}"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<script src="{% static 'plugins/js/alerts.js' %}"></script>
<script src="{% static 'plugins/js/avgrund.js' %}"></script>
<!-- <script src="{% static 'plugins/fonts/Ubuntu/Ubuntu-Bold.eot' %}"></script>
<script src="{% static 'plugins/fonts/Ubuntu/Ubuntu-Bold.ttf' %}"></script>
<script src="{% static 'plugins/fonts/Ubuntu/Ubuntu-Bold.woff' %}"></script>
<script src="{% static 'plugins/fonts/Ubuntu/Ubuntu-Bold.woff2' %}"></script>

<script src="{% static 'plugins/fonts/Ubuntu/Ubuntu-Light.woff' %}"></script>
<script src="{% static 'plugins/fonts/Ubuntu/Ubuntu-Light.ttf' %}"></script>
<script src="{% static 'plugins/fonts/Ubuntu/Ubuntu-Light.woff2' %}"></script>
<script src="{% static 'plugins/fonts/Ubuntu/Ubuntu-Light.eot' %}"></script>

<script src="{% static 'plugins/fonts/Ubuntu/Ubuntu-Regular.woff' %}"></script>
<script src="{% static 'plugins/fonts/Ubuntu/Ubuntu-Regular.eot' %}"></script>
<script src="{% static 'plugins/fonts/Ubuntu/Ubuntu-Regular.woff2' %}"></script>
<script src="{% static 'plugins/fonts/Ubuntu/Ubuntu-Regular.ttf' %}"></script>

<script src="{% static 'plugins/fonts/Ubuntu/Ubuntu-Medium.eot' %}"></script>
<script src="{% static 'plugins/fonts/Ubuntu/Ubuntu-Medium.woff' %}"></script>
<script src="{% static 'plugins/fonts/Ubuntu/Ubuntu-Medium.woff2' %}"></script>
<script src="{% static 'plugins/fonts/Ubuntu/Ubuntu-Medium.ttf' %}"></script> -->



<!-- End custom js for this page       Text-->

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<!-- FilePond Stuff -->
<script src="https://unpkg.com/filepond/dist/filepond.js"></script>
<script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js"></script>
<script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>

{% block js %}
{% endblock %}