{% extends 'base_main.html'%}
{% load static %}
{% block page_title %} 
    Admin Home      
{% endblock page_title %}

{% block content %}

<div class="row" style="text-align: center;">
  <div class="col-md-3 stretch-card grid-margin">
    <div class="card bg-gradient-danger card-img-holder text-white">
      <div class="card-body">
        <img src="{% static 'plugins/images/dashboard/circle.svg' %}" class="card-img-absolute" alt="circle-image" />
        <h4 class="font-weight-bold mb-3">Total Teachers <i class="mdi mdi-chart-line mdi-24px float-right"></i>
        </h4>
        <!-- <h2 class="mb-5">15,000</h2> -->
        <h1 class="font-weight-bold mb-3">{{ teacher_count }}</h1>
        <!-- <h6 class="card-text">Increased by 60%</h6> -->
        <a href="{% url 'manage_teacher' %}" class="small-box-footer text-white small-box-footer">More information <i class="mdi mdi-arrow-right-bold-circle text-white"></i></a>
      </div>
    </div>
  </div>
  <div class="col-md-3 stretch-card grid-margin">
    <div class="card bg-gradient-info card-img-holder text-white">
      <div class="card-body">
        <img src="{% static 'plugins/images/dashboard/circle.svg' %}" class="card-img-absolute" alt="circle-image" />
        <h4 class="font-weight-bold mb-3"> Total Students <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
        </h4>
        <h1 class="font-weight-bold mb-3">{{ student_count }}</h1>
        <a href="{% url 'manage_student' %}" class="small-box-footer text-white">More information <i class="mdi mdi-arrow-right-bold-circle text-white"></i></a>
      </div>
    </div>
  </div>
  <div class="col-md-3 stretch-card grid-margin">
    <div class="card bg-gradient-success card-img-holder text-white">
      <div class="card-body">
        <img src="{% static 'plugins/images/dashboard/circle.svg' %}" class="card-img-absolute" alt="circle-image" />
        <h4 class="font-weight-bold mb-3">Total Course <i class="mdi mdi-diamond mdi-24px float-right"></i>
        </h4>
        <h1 class="font-weight-bold mb-3">{{ course_count }}</h1>
        <a href="{% url 'manage_course' %}" class="small-box-footer text-white">More information <i class="mdi mdi-arrow-right-bold-circle text-white"></i></a>
      </div>
    </div>
  </div>
  <div class="col-md-3 stretch-card grid-margin">
      <div class="card bg-gradient-warning card-img-holder text-white">
          <div class="card-body">
          <img src="{% static 'plugins/images/dashboard/circle.svg' %}" class="card-img-absolute" alt="circle-image" />
          <h4 class="font-weight-bold mb-3">Total Subjects <i class="mdi mdi-diamond mdi-24px float-right"></i>
          </h4>
          <h1 class="font-weight-bold mb-3">{{ subject_count }}</h1>
          <a href="{% url 'manage_subject' %}" class="small-box-footer text-white">More information <i class="mdi mdi-arrow-right-bold-circle text-white"></i></a>
          <!-- <a href="{% url 'manage_subject' %}" class="small-box-footer text-white">More info <i class="mdi mdi-arrow-right-bold-circle text-white"></i></a> -->
          </div>
      </div>
  </div>
  <div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
        <h4 class="card-title">Teacher & Student Charts</h4>
        <hr>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
        </div>
        <canvas id="pieChart" style="height:250px; min-height: 250px; max-height: 250px; max-width: 100%;"></canvas>
        </div>
    </div>
  </div>
  <div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
        <h4 class="card-title">Total Subject in Each Courses</h4>
        <hr>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
        </div>
        <canvas id="donutChart" style="height:250px; min-height: 250px; max-height: 250px; max-width: 100%;"></canvas>
        </div>
    </div>
  </div>
  <div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
        <h4 class="card-title">Total Student in Each Course </h4>
        <hr>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
        </div>
        <canvas id="pieChart2" style="height:250px; min-height: 250px; max-height: 250px; max-width: 100%;"></canvas>
        </div>
    </div>
  </div>
  <div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
        <h4 class="card-title">Total Student in Each Subject </h4>
        <hr>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
        </div>
        <canvas id="pieChart3" style="height:250px; min-height: 250px; max-height: 250px; max-width: 100%;"></canvas>
        </div>
    </div>
  </div>
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body card-success">
        <h4 class="card-title">Teacher Leaves vs Attendance </h4>
        <hr>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
        </div>
        <canvas id="barChart1" style="height:250px; min-height: 250px; max-height: 250px; max-width: 100%;"></canvas>
        </div>
    </div>
</div>

</div>

{% endblock content %}

{% block custom_js %}
  <script>
    $(document).ready(function(){
      var pieData  = {
        labels: [
            'Teachers',
            'Students',
        ],
        datasets: [
          {
            data: [{{ teacher_count }},{{ student_count }}],
            backgroundColor : ['rgba(255, 99, 132, 0.8)', 'rgba(54, 162, 235, 0.8)',],
          }
        ]
      }

      var pieChartCanvas = $("#pieChart").get(0).getContext("2d");
      
      var pieOptions     = {
          maintainAspectRatio : false,
          responsive : true,
      }
      var pieChart = new Chart(pieChartCanvas, {
          type: 'pie',
          data: pieData,
          options: pieOptions
      });

      var subject_count_list={{ subject_count_list }};
      var course_name_list={{ course_name_list|safe }};
      var donutChartCanvas = $('#donutChart').get(0).getContext('2d')
      var donutData        = {
        labels:course_name_list,
        datasets: [
          {
            data: subject_count_list,
            backgroundColor : [
            'rgba(255, 206, 86, 0.8)',
            'rgba(75, 192, 192, 0.8)',
            'rgba(255, 99, 132, 0.8)',
            'rgba(54, 162, 235, 0.8)',
            'rgba(153, 102, 255, 0.8)',
            'rgba(255, 159, 64, 0.8)',
            ],
          }
        ]
      }
      var donutOptions     = {
        maintainAspectRatio : false,
        responsive : true,
      }
      //Create pie or douhnut chart
      // You can switch between pie and douhnut using the method below.
      var donutChart = new Chart(donutChartCanvas, {
        type: 'doughnut',
        data: donutData,
        options: donutOptions
      });


      ///
      var student_count_list_in_course ={{ student_count_list_in_course }};
      var pieData2  = {
        labels: course_name_list,
        datasets: [
          {
            data: student_count_list_in_course,
            backgroundColor : [
            'rgba(54, 162, 235, 0.8)',
            'rgba(75, 192, 192, 0.8)',
            'rgba(255, 99, 132, 0.8)',
            'rgba(255, 206, 86, 0.8)',
            'rgba(153, 102, 255, 0.8)',
            'rgba(255, 159, 64, 0.8)',
            ],
          }
        ]
      }

      var pieChartCanvas2 = $("#pieChart2").get(0).getContext("2d");
      
      var pieOptions2     = {
          maintainAspectRatio : false,
          responsive : true,
      }
      var pieChart = new Chart(pieChartCanvas2, {
        type: 'pie',
        data: pieData2,
        options: pieOptions2
      });

      //
      var student_count_list_in_subject ={{ student_count_list_in_subject }};
      var subject_list = {{ subject_list|safe }};
      var pieData3  = {
        labels: subject_list,
        datasets: [
          {
            data: student_count_list_in_subject,
            backgroundColor : [
            'rgba(54, 162, 235, 0.8)',
            'rgba(75, 192, 192, 0.8)',
            'rgba(255, 99, 132, 0.8)',
            'rgba(255, 206, 86, 0.8)',
            'rgba(153, 102, 255, 0.8)',
            'rgba(255, 159, 64, 0.8)',
            ],
          }
        ]
      }

      var pieChartCanvas3 = $("#pieChart3").get(0).getContext("2d");
      
      var pieOptions3     = {
          maintainAspectRatio : false,
          responsive : true,
      }
      var pieChart = new Chart(pieChartCanvas3, {
        type: 'pie',
        data: pieData3,
        options: pieOptions3
      });

      //
      var teacher_attendance_present_list={{ teacher_attendance_present_list }};
      var teacher_attendance_leave_list={{ teacher_attendance_leave_list }};
      var teacher_name_list={{ teacher_name_list|safe }};
      var barChartData = {
        labels  : teacher_name_list,
        datasets: [
          {
            label               : 'Attendance',
            backgroundColor     : 'rgba(54, 162, 235, 0.8)',
            borderColor         : 'rgba(54, 162, 235, 0.8)',
            pointRadius         : false,
            pointColor          : '#3b8bba',
            pointStrokeColor    : 'rgba(60,141,188,1)',
            pointHighlightFill  : '#fff',
            pointHighlightStroke: 'rgba(60,141,188,1)',
            data                : teacher_attendance_present_list
          },
          {
            label               : 'Leaves',
            backgroundColor     : 'rgba(255, 99, 132, 0.8)',
            borderColor         : 'rgba(255, 99, 132, 0.8)',
            pointRadius         : false,
            pointColor          : 'rgba(210, 214, 222, 1)',
            pointStrokeColor    : '#c1c7d1',
            pointHighlightFill  : '#fff',
            pointHighlightStroke: 'rgba(220,220,220,1)',
            data                : teacher_attendance_leave_list
          },
        ]
      }

      var barChartCanvas = $('#barChart1').get(0).getContext('2d')
      var temp0 = barChartData.datasets[0]
      var temp1 = barChartData.datasets[1]
      barChartData.datasets[0] = temp1
      barChartData.datasets[1] = temp0

      var barChartOptions = {
        responsive              : true,
        maintainAspectRatio     : false,
        datasetFill             : false
      }

      var barChart = new Chart(barChartCanvas, {
        type: 'bar',
        data: barChartData,
        options: barChartOptions
      })
    })
  </script>
{% endblock custom_js %} -->
