{% extends 'base_main.html'%}
{% load static %}
{% block page_title %} 
Manage Subject
{% endblock page_title %}


{% block content %}
    <a class="btn btn-primary" href="{% url 'add_subject' %}" role="button">+ Add Subject</a> <br/>&nbsp;

    {% comment %} Display Messages {% endcomment %}
    {% if messages %}
    <div class="form-group">
    <div class="col-12">
        {% for message in messages %}
        {% if message.tags == "error" %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
        {% elif message.tags == "success" %}
            <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
        {% endif %}
        {% endfor %}
    </div>
    </div>
    {% endif %}

    <div class="card">
        <div class="card-body">
        <div class="search-field d-none d-md-block">
            <!-- <h4 class="card-title">Form Manage Subject</h4> -->
            <!-- <p class="card-description"> Detailed information sheet about Teachers </p> -->
            <!-- <hr> -->
            <!-- <br> -->
        </div>

        <div class="card-body table-responsive p-0">
          <table id="order-listing" class="table table-striped table-hover text-nowrap" style="border:1px solid #ccc;">
            <!-- id="order-listing" -->
            <thead>
                <tr>
                    <th style="font-weight:bold;">ID</th>
                    <th style="font-weight:bold;">Course</th>
                    <th style="font-weight:bold;">Subject Name</th>
                    <th style="font-weight:bold;">Teacher</th>
                    <th style="font-weight:bold;">Created At</th>
                    <th style="font-weight:bold;">Updated At</th>
                    <th style="font-weight:bold;">Action</th>
                </tr>
            </thead>
            <tbody>
            {% for subject in subjects %}
                <tr>
                    <td style="bottom:1px solid #ccc;">{{ subject.id }}</td>
                    <td>{{ subject.course_id.course_name }}</td>
                    <!-- <td style="max-width: 10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                        <a type="text" data-toggle="popover" data-custom-class="popover-info" title="Course" data-content="Course name: {{ subject.course_id.course_name }}"> {{ subject.course_id.course_name }}</a>
                    </td> -->
                    <!-- <td style="max-width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                        <a type="text" data-toggle="popover" data-custom-class="popover-info" title="Subject Name" data-content="{{ subject.subject_name }}"> 
                            {{ subject.subject_name }}
                        </a>
                    </td> -->
                    <td>
                            
                        <div class="card-body">
                            <p class="card-text">
                                <a type="button" data-toggle="tooltip" data-custom-class="tooltip-info" title="{{ subject.subject_name }}" style="max-width: 120px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" data-placement="left" >
                                    {{ subject.subject_name }}
                                </a>
                            </p>
                        </div>
                    </td>
                    <td> {{ subject.teacher_id.last_name }} {{ subject.teacher_id.first_name }}</td>
                    <!-- <td style="max-width: 10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                        <a type="text" data-toggle="popover" data-custom-class="popover-info" title="Teacher" data-content="{{ subject.teacher_id.first_name }} {{ subject.teacher_id.last_name }}"> {{ subject.teacher_id.first_name }} {{ subject.teacher_id.last_name }}</a>
                    </td> -->
                    <td>{{ subject.created_at|date:'D,d/m/Y - H:i:s' }}</td>
                    <td>{{ subject.updated_at|date:'D,d/m/Y - H:i:s' }}</td>
                    <td>
                        <!-- <a href="{% url 'manage_student_subject_link' subject.id %}" class="btn btn-info">View Students</a> 
                        <a href="{% url 'edit_subject' subject.id %}" class="btn btn-success">Edit</a> 
                        <a href="{% url 'delete_subject' subject.id %}" class="btn btn-danger">Delete</a> -->

                        <a class="btn btn-outline-info btn-icon-text" href="{% url 'manage_student_subject_link' subject.id %}"> 
                            <!-- <i class="mdi mdi-printer btn-icon-append"></i> -->
                            View Students
                        </a>
                        <a class="btn btn-outline-success btn-icon-text" href="{% url 'edit_subject' subject.id %}">
                            <!-- <i class="mdi mdi-alert btn-icon-prepend"></i>  -->
                            Edit 
                        </a>
                        <a class="btn btn-outline-danger btn-icon-text" href="{% url 'delete_subject' subject.id %}">
                            <!-- <i class="mdi mdi-upload btn-icon-prepend"></i>  -->
                            Delete 
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        </div>
    </div>  
{% endblock content %}