{% extends 'base_main.html'%}
{% load static %}
{% block page_title %} 
Manage Course
{% endblock page_title %}


{% block js %}

<!-- <script>
  function DeleteCourse(id){
    console.log(id);
  }
</script> -->

{% endblock %}

{% block content %}
    <a class="btn btn-gradient-primary btn-rounded btn-fw" href="{% url 'add_course' %}" role="button">+ Add Course</a> <br/>&nbsp;
    {% comment %} Display Messages {% endcomment %}
    {% if messages %}
    <div class="form-group">
    <div class="col-12">
        {% for message in messages %}
        {% if message.tags == "error" %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
        {% elif message.tags == "success" %}
            <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
        {% endif %}
        {% endfor %}
    </div>
    </div>
    {% endif %}
    
    <div class="card">
        <div class="card-body">
          <h4 class="card-title">Form Manage Course</h4>
          <!-- <p class="card-description"> Detailed information sheet about Courses</p> -->
          <hr>
          <br>
          <table id="order-listing" class="table table-striped p-0 card-body" style="border:1px solid #ccc;">
            <thead>
              <tr>
                <th style="font-weight:bold;"> ID </th>
                <th style="font-weight:bold;"> Course </th>
                <th style="font-weight:bold;">Created At</th>
                <th style="font-weight:bold;">Updated At</th>
                <th style="font-weight:bold;"> Action </th>
              </tr>
            </thead>
            <tbody>
            {% for course in courses %}
                <tr>
                    <td> {{ course.id }}</td>
                    <td> {{ course.course_name }}</td>
                    <td>{{ course.created_at|date:'D,d/m/Y - H:i:s' }}</td>
                    <td>{{ course.updated_at|date:'D,d/m/Y - H:i:s' }}</td>
                    <td>
                      <!-- <a href="{% url 'edit_course' course.id %}" class="btn btn-success">Edit</a>
                      <a href="{% url 'delete_course' course.id %}" class="btn btn-danger">Delete</a> -->
                      <!-- <a href="#" class="btn btn-danger" onclick="DeleteCourse({{ course.id }})">Delete</a> -->

                      <a class="btn btn-outline-success btn-icon-text" href="{% url 'edit_course' course.id %}">
                        <!-- <i class="mdi mdi-alert btn-icon-prepend"></i>  -->
                        Edit 
                      </a>
                      <a class="btn btn-outline-danger btn-icon-text" href="{% url 'delete_course' course.id %}">
                          <!-- <i class="mdi mdi-upload btn-icon-prepend"></i>  -->
                          Delete 
                      </a>
                      
                    </td>
                </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
    </div>  

{% endblock content %}