{% extends 'base_main.html'%}
{% load static %}
{% block page_title %} 
Manage Teacher
{% endblock page_title %}


{% block content %}
    <a class="btn btn-primary" href="{% url 'add_teacher' %}" role="button">+ Add Teacher</a> <br/>&nbsp;

    {% comment %} Display Messages {% endcomment %}
        {% if messages %}
        <div class="form-group">
        <div class="col-12">
            {% for message in messages %}
            {% if message.tags == "error" %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
            {% elif message.tags == "success" %}
                <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
            {% endif %}
            {% endfor %}
        </div>
        </div>
        {% endif %}

    <div class="card">
        <div class="card-body">
        <div class="search-field d-none d-md-block">
            <h4 class="card-title">Form Manage Teacher</h4>
            <!-- <p class="card-description"> Detailed information sheet about Teachers </p> -->
            <!-- <hr> -->
            <br>
            <form class="d-flex align-items-center h-100" action="#">
            <div class="input-group">
                
                <input type="text" class="form-control bg-transparent border-5" placeholder="Search projects">
                <div class="input-group-prepend bg-transparent">
                    <i class="input-group-text border-0 mdi mdi-magnify"></i>
                </div>
            </div>
            </form>
        </div>
        <br>
        <div class="card-body table-responsive p-0">
            <table class="table table-striped table-hover text-nowrap " style="border:1px solid #ccc;">
                <!-- id="order-listing" -->
                <thead>
                <tr style="font-size: 5px;">
                    <th style="font-weight:bold;"> ID </th>
                    <th style="font-weight:bold;"> User Name </th>
                    <th style="font-weight:bold;"> Last Name </th> 
                    <th style="font-weight:bold;"> First Name </th>
                                      
                    <th style="font-weight:bold;"> Email </th>
                    <!-- <th style="font-weight:bold;"> Password </th> -->
                    <th style="font-weight:bold;"> Address </th>
                    <th style="font-weight:bold;"> Profile </th>
                    <th style="font-weight:bold;"> Last Login </th>
                    <th style="font-weight:bold;"> Date Joined </th>
                    <th style="font-weight:bold;"> Action </th>
                </tr>
                </thead>
                <tbody>
                {% for teacher in teachers %}
                    <tr>
                        <td> {{ teacher.admin.id }}</td>
                        <td> {{ teacher.admin.username }}</td>
                        <td> {{ teacher.admin.last_name }}</td>  
                        <td> {{ teacher.admin.first_name }}</td>    
                        <td> {{ teacher.admin.email }}</td>       
                        <!-- <td> {{ teacher.admin.password }}</td>           -->
                        <!-- <td style="max-width: 10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"> 
                            <a type="text" data-toggle="popover" data-custom-class="popover-info" title="Email" data-content="{{ teacher.admin.email }}"> 
                                {{ teacher.admin.email }}
                            </a>
                        </td> -->
                        <td style="max-width: 300px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                            <a type="text" data-toggle="popover" data-custom-class="popover-info" title="Address" data-content="{{ teacher.address }}"> 
                                {{ teacher.address }}
                            </a>
                        </td>
                        <!-- <td style="max-width: 10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"> {{ teacher.address }}</td> -->
                        <td><img src="{{ teacher.profile_pic.url }}" style="height:36px; width:36px;" /></td>
                        <!-- <td> 
                            
                            <a type="text" data-toggle="popover" data-custom-class="popover-info" data-html="true" title="Image" data-content="<image src='{{ teacher.profile_pic.url }}' height:20px; width:20px;/>" data-placement="bottom" style="height:20px; width:20px;" >
                                <img src="{{ teacher.profile_pic.url }}" style="height:20px; width:20px;" />
                            </a>
                            
                        </td> -->
                        <!-- <td>
                            <textarea cols="20" rows="2" style="border: none; outline: none; color: #343a40;" readonly>{{ teacher.address }}</textarea>
                             -->
                        <!-- </td>  -->
                        <td>{{ teacher.admin.last_login|date:'D,d/m/Y - H:i:s' }}</td>
                        <!-- <td style="max-width: 10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"> 
                            <a type="text" data-toggle="popover" data-custom-class="popover-info" title="Last Login" data-content="{{ teacher.admin.last_login|date:'D,d/m/Y - H:i:s' }}"> {{ teacher.admin.last_login|date:'D,d/m/Y - H:i:s' }}</a>
                        </td> -->
                        <td>{{ teacher.admin.date_joined|date:'D,d/m/Y - H:i:s' }}</td>
                        <!-- <td style="max-width: 10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"> 
                            <a type="text" data-toggle="popover" data-custom-class="popover-info" title="Date Joined" data-content="{{ teacher.admin.date_joined|date:'D,d/m/Y - H:i:s' }}"> {{ teacher.admin.date_joined|date:'D,d/m/Y - H:i:s' }}</a>
                        </td> -->
                        <td>
                            <a class="btn btn-outline-success btn-icon-text" href="{% url 'edit_teacher' teacher.admin.id %}">
                                <!-- <i class="mdi mdi-alert btn-icon-prepend"></i>  -->
                                Edit 
                            </a>
                            <a class="btn btn-outline-danger btn-icon-text" href="{% url 'delete_teacher' teacher.admin.id %}">
                                <!-- <i class="mdi mdi-upload btn-icon-prepend"></i>  -->
                                Delete 
                            </a>
                            
                            <!-- <a href="{% url 'edit_teacher' teacher.admin.id %}" class="btn btn-success">Edit</a>  -->
                            <!-- <a href="{% url 'delete_teacher' teacher.admin.id %}" class="btn btn-danger">Delete</a> -->
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    </div>


  

{% endblock content %}