{% extends 'base_main.html'%}
{% load static %}
{% block page_title %} 
Manage Student to Subject
{% endblock page_title %}


{% block content %}
    <a class="btn btn-gradient-primary btn-rounded btn-fw" href="{% url 'add_student_subject_link' subject.id %}" role="button">+ Add Student to Subject</a> <br/>&nbsp;

    {% comment %} Display Messages {% endcomment %}
        {% if messages %}
        <div class="form-group">
        <div class="col-12">
            {% for message in messages %}
            {% if message.tags == "error" %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
            {% elif message.tags == "success" %}
                <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
            {% endif %}
            {% endfor %}
        </div>
        </div>
    {% endif %}


    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Manage Students in Subjects</h4>
            <!-- <p class="card-description"> Detailed information sheet about  -->
                <code style="color:crimson;"> <b> {{ subject.subject_name }} - {{ subject.teacher_id.first_name }} {{subject.teacher_id.last_name}} </b> </code>
            </p>
            <hr>
            <br>
            <table id="order-listing" class="table table-striped p-0 card-body" style="border:1px solid #ccc;">
            <thead>
                <tr>
                    <th style="font-weight:bold;">ID</th>
                    <th style="font-weight:bold;">Username</th>
                    <th style="font-weight:bold;">Student Name</th>
                    <th style="font-weight:bold;">Created At</th>
                    <th style="font-weight:bold;">Updated At</th>
                    <th style="font-weight:bold;">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for student_subject in student_subject_link %}
                    <tr>
                        <td>{{ student_subject.id }}</td>
                        <td>{{ student_subject.student_id.admin.username }}</td>
                        <td>{{ student_subject.student_id.admin.last_name }} {{ student_subject.student_id.admin.first_name }}</td>
                        <td>{{ student_subject.created_at }}</td>
                        <td>{{ student_subject.updated_at }}</td>
                        <td>
                            {% comment %} <a href="{% url 'edit_subject' subject.id %}" class="btn btn-success">Edit</a>  {% endcomment %}
                            <!-- <a href="{% url 'delete_student_subject_link' student_subject.id %}" class="btn btn-danger">Delete</a> -->
                            {% comment %} <a class="btn btn-outline-success btn-icon-text" href="{% url 'edit_subject' subject.id %}">
                                <!-- <i class="mdi mdi-alert btn-icon-prepend"></i>  -->
                                Edit 
                            </a> {% endcomment %}
                            <a class="btn btn-outline-danger btn-icon-text" href="{% url 'delete_student_subject_link' student_subject.id %}">
                                <!-- <i class="mdi mdi-upload btn-icon-prepend"></i>  -->
                                Delete 
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>


{% endblock content %}

