{% extends 'base_main.html'%}
{% load static %}
{% block page_title %} 
Manage Session
{% endblock page_title %}


{% block content %}
    <a class="btn btn-primary" href="{% url 'add_session' %}" role="button">+ Add Session</a> <br/>&nbsp;

    {% comment %} Display Messages {% endcomment %}
        {% if messages %}
        <div class="form-group">
        <div class="col-12">
            {% for message in messages %}
            {% if message.tags == "error" %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
            {% elif message.tags == "success" %}
                <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
            {% endif %}
            {% endfor %}
        </div>
        </div>
        {% endif %}

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Manage Session</h4>
            <!-- <p class="card-description"> Detailed information sheet about Sessions</p> -->
            <hr>
            <br>
            <table id="order-listing" class="table table-striped p-0 card-body">
            <thead>
                <tr>
                    <th style="font-weight:bold;"> ID </th>
                    <th style="font-weight:bold;"> Session Start Year </th>
                    <th style="font-weight:bold;"> Session End Year </th>
                    <th style="font-weight:bold;"> Action </th>
                </tr>
            </thead>
            <tbody>
            {% for session_year in session_years %}
                <tr>
                    <td> {{ session_year.id }}</td>
                    <td> {{ session_year.session_start_year }}</td>
                    <td> {{ session_year.session_end_year }}</td>
                    
                    <td>
                        <a href="{% url 'edit_session' session_year.id %}" class="btn btn-success">Edit</a>
                        <a href="{% url 'delete_session' session_year.id %}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
    </div>


{% endblock content %}