{% load static %}


<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a href="{% url 'student_profile' %}" class="nav-link">
        {{ user.first_name }} {{ user.last_name }}
        <div class="nav-profile-image ml-4 ">
          <img src="{% static 'plugins/images/faces/face1.jpg' %}" alt="profile">
          <span class="login-status online"></span>
          <!--change to offline or busy as needed-->
        </div>
        
        <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
      </a>
    </li>
    <li class="nav-item">
      {% url 'student_home' as student_home %}
      <a class="nav-link {% if request.path == student_home %} active {% endif %}" href="{{ student_home }}">
        <span class="menu-title">Home</span>
        <i class="mdi mdi-home menu-icon"></i>
        {% comment %} <span class="right badge badge-danger">New</span> {% endcomment %}
      </a>
    </li>

    <li class="nav-item">
        {% url 'student_view_attendance' as student_view_attendance %}
      <a class="nav-link {% if request.path == student_view_attendance %} active {% endif %}" href="{{ student_view_attendance }}">
        <span class="menu-title">View Attendance</span>
        <i class="mdi mdi-contacts menu-icon"></i>
        {% comment %} <span class="right badge badge-danger">New</span> {% endcomment %}
      </a>
    </li>

    <li class="nav-item">
      {% url 'student_view_result' as student_view_result %}
      <a class="nav-link {% if request.path == student_view_result %} active {% endif %}" href="{{ student_view_result }}">
        <span class="menu-title">View Result</span>
        <i class="mdi mdi-chart-bar menu-icon"></i>
        {% comment %} <span class="right badge badge-danger">New</span> {% endcomment %}
      </a>
    </li>

    <li class="nav-item">
        {% url 'student_apply_leave' as student_apply_leave %}
      <a class="nav-link {% if request.path == student_apply_leave %} active {% endif %}" href="{{ student_apply_leave }}">
        <span class="menu-title">Apply For Leave</span>
        <i class="mdi mdi-table-large menu-icon"></i>
        {% comment %} <span class="right badge badge-danger">New</span> {% endcomment %}
      </a>
    </li>

    <li class="nav-item">
        {% url 'student_feedback' as student_feedback %}
        <a href="{{ student_feedback }}" class="nav-link {% if request.path == student_feedback %} active {% endif %}">
        <span class="menu-title">Send Feedback</span>
        <i class="mdi mdi-table-large menu-icon"></i>
        {% comment %} <span class="right badge badge-danger">New</span> {% endcomment %}
      </a>
    </li>
  </ul>
</nav>




 