{% extends 'base_main.html'%}
{% load static %}
{% block page_title %} 
Home Student 
{% endblock page_title %}

{% block content %}

  <div class="row">
    <div class="col-md-3 stretch-card grid-margin">
      <div class="card bg-gradient-danger card-img-holder text-white">
        <div class="card-body">
          <img src="{% static 'plugins/images/dashboard/circle.svg' %}" class="card-img-absolute" alt="circle-image" />
          <h4 class="font-weight-bold mb-3">Total Attendance <i class="mdi mdi-chart-line mdi-24px float-right"></i>
          </h4>
          <!-- <h2 class="mb-5">15,000</h2> -->
          <h1 class="font-weight-bold mb-3">{{ total_attendance }}</h1>
          <!-- <h6 class="card-text">Increased by 60%</h6> -->
          <a href="{% url 'student_view_attendance' %}" class="small-box-footer text-white small-box-footer">More information <i class="mdi mdi-arrow-right-bold-circle text-white"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md-3 stretch-card grid-margin">
      <div class="card bg-gradient-info card-img-holder text-white">
        <div class="card-body">
          <img src="{% static 'plugins/images/dashboard/circle.svg' %}" class="card-img-absolute" alt="circle-image" />
          <h4 class="font-weight-bold mb-3"> Present <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
          </h4>
          <h1 class="font-weight-bold mb-3">{{ attendance_present }}</h1>
          <a href="{% url 'student_view_attendance' %}" class="small-box-footer text-white">More information <i class="mdi mdi-arrow-right-bold-circle text-white"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md-3 stretch-card grid-margin">
      <div class="card bg-gradient-success card-img-holder text-white">
        <div class="card-body">
          <img src="{% static 'plugins/images/dashboard/circle.svg' %}" class="card-img-absolute" alt="circle-image" />
          <h4 class="font-weight-bold mb-3">Absent <i class="mdi mdi-diamond mdi-24px float-right"></i>
          </h4>
          <h1 class="font-weight-bold mb-3">{{ attendance_absent }}</h1>
          <a href="{% url 'student_view_attendance' %}" class="small-box-footer text-white">More information <i class="mdi mdi-arrow-right-bold-circle text-white"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md-3 stretch-card grid-margin">
        <div class="card bg-gradient-warning card-img-holder text-white">
            <div class="card-body">
            <img src="{% static 'plugins/images/dashboard/circle.svg' %}" class="card-img-absolute" alt="circle-image" />
            <h4 class="font-weight-bold mb-3">Total Subjects <i class="mdi mdi-diamond mdi-24px float-right"></i>
            </h4>
            <h1 class="font-weight-bold mb-3">{{ total_subjects }}</h1>
            <a href="#" class="small-box-footer text-white">&nbsp;</a>
            <!-- <a href="{% url 'manage_subject' %}" class="small-box-footer text-white">More info <i class="mdi mdi-arrow-right-bold-circle text-white"></i></a> -->
            </div>
        </div>
    </div>
    <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
            <h4 class="card-title">Attendance Chart</h4>
            <hr>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
            </div>
            <canvas id="pieChart" style="height:250px; min-height: 250px; max-height: 250px; max-width: 100%;"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body card-success">
            <h4 class="card-title">Attendance Statistics</h4>
            <hr>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
            </div>
            <canvas id="barChart" style="height:250px; min-height: 250px; max-height: 250px; max-width: 100%;"></canvas>
            </div>
        </div>
    </div>
  </div>

{% endblock content %}

{% block custom_js %}
    <script>
        $(document).ready(function(){
            
            var subject_name = {{ subject_name|safe}};
            var data_present = {{ data_present}};
            var data_absent = {{ data_absent }};

            var doughnutPieData  = {
                labels: [
                    "Present",
                    "Absent",
                    "Total"
                ],
                datasets: [
                    {
                        data: [
                            {{ attendance_absent }},{{ attendance_present }},{{ total_attendance}}
                        ],
                        backgroundColor : ['rgba(54, 162, 235, 0.8)', 'rgba(75, 192, 192, 0.8)','rgba(255, 206, 86, 0.8)',],
                    }
                ]
            }
            //

            var areaChartData = {
                labels  : subject_name,
                datasets: [
                  {
                    label               : 'Present in Class',
                    backgroundColor     : 'rgba(54, 162, 235, 0.7)',
                    borderColor         : 'rgba(54, 162, 235, 0.7)',
                    pointRadius          : false,
                    pointColor          : '#3b8bba',
                    pointStrokeColor    : 'rgba(60,141,188,1)',
                    pointHighlightFill  : '#fff',
                    pointHighlightStroke: 'rgba(60,141,188,1)',
                    data                : data_present
                  },
                  {
                    label               : 'Absent in Class',
                    backgroundColor     : 'rgba(75, 192, 192, 0.7)',
                    borderColor         : 'rgba(75, 192, 192, 0.7)',
                    pointRadius         : false,
                    pointColor          : 'rgba(210, 214, 222, 1)',
                    pointStrokeColor    : '#c1c7d1',
                    pointHighlightFill  : '#fff',
                    pointHighlightStroke: 'rgba(220,220,220,1)',
                    data                : data_absent
                  },
                ]
            }

            var pieChartCanvas = $("#pieChart").get(0).getContext("2d");
            var doughnutPieData =  doughnutPieData;
            var doughnutPieOptions ={
                responsive: true,
                animation: {
                    animateScale: true,
                    animateRotate: true  
                } 
            }   
            var pieChart = new Chart(pieChartCanvas, {
            type: 'pie',
            data: doughnutPieData,
            options: doughnutPieOptions
            });

            var barChartCanvas = $('#barChart').get(0).getContext('2d')
            var barChartData = jQuery.extend(true, {}, areaChartData)
            var temp1 = areaChartData.datasets[0]
            barChartData.datasets[0] = temp1

            var barChartOptions = {
              responsive              : true,
              maintainAspectRatio     : false,
              datasetFill             : false
            }

            var barChart = new Chart(barChartCanvas, {
              type: 'bar',
              data: barChartData,
              options: barChartOptions
            })
        })
    </script>
{% endblock custom_js %}