{% extends 'base_main.html'%}
{% load static %}
{% block page_title %} 
Leave Report and Apply for Leave
{% endblock page_title %}


{% block content %}
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Form Apply For Leave</h4>
        <hr>
        <br>

        {% comment %} Display Messages {% endcomment %}
        {% if messages %}
        <div class="form-group">
        <div class="col-12">
            {% for message in messages %}
            {% if message.tags == "error" %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
            {% elif message.tags == "success" %}
                <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
            {% endif %}
            {% endfor %}
        </div>
        </div>
        {% endif %}

        <form class="forms-sample" action="{% url 'student_apply_leave_save' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label >Subject Name</label>
                <select class="form-control" name="leave_subject" id="leave_subject">
                    {% for subject in subjects %}
                        <option value="{{ subject.id }}">{{ subject.subject_id.subject_name }}</option>
                    {% endfor %}
                </select>
            </div>
            
            <div class="form-group">
                <label>Leave Date </label>
                <input type="date" name="leave_date" class="form-control" />
            </div>

            <div class="form-group">
                <label>Leave Reason </label>
                <textarea name="leave_message" class="form-control" rows="6" placeholder="Leave Message"></textarea>
            </div>

            <button type="submit" class="btn btn-gradient-primary mr-2 ">Apply for Leave</button>
            
            <!-- <input class="btn btn-light" type="reset" value="Cancel" onclick="return cancel()" />
            <script>
                function cancel() {
                    c=confirm("Do you really want to cancel?");
            
                    // Of course, the following could be shortened to "return c;"
                    if (c==true)
                    {
                        return true;
                    }
                    else{
                        return false;
                    }
                }
            </script>       -->
    </div>
    <hr>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Leave Apply History</h4>
            <!-- <p class="card-description"> Detailed information sheet about Student leave -->
            </p>
            <hr>
            <div class="card-body table-responsive p-0">
                <table class = "table table-striped table-hover text-nowrap " style="border:1px solid #ccc;">
                    <thead>
                        <tr>
                            <th>#ID</th>
                            <th>Subject Name</th>
                            <th>Leave Date</th>
                            <th>Leave Message</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for leave in leave_data %}
                        <tr>
                            <td>{{ leave.id }}</td>
                            <td>{{ leave.subject_id.subject_name }}</td>
                            <td>{{ leave.leave_date }}</td>
                            <td>{{ leave.leave_message }}</td>
                            <td>
                                {% if leave.leave_status == 1 %}
                                    <span class="alert alert-success">Approved</span>
                                {% elif leave.leave_status == 2 %}
                                    <span class="alert alert-danger">Rejected</span>
                                {% else %}
                                    <span class="alert alert-warning">Pending</span>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
</div>

{% endblock content %}

{% block custom_js %}

{% endblock custom_js %}