{% extends 'base_main.html'%}
{% load static %}
{% block page_title %} 
Feedback Message
{% endblock page_title %}


{% block content %}
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Form Leave a Feedback Message</h4>

        

        <form class="forms-sample" action="{% url 'student_feedback_save' %}" method="post">
            {% csrf_token %}

            <div class="form-group">
                <label>Students fill in the form the reason for wanting to take leave </label>
                <hr>
                {% comment %} Display Messages {% endcomment %}
                {% if messages %}
                <div class="form-group">
                <div class="col-12">
                    {% for message in messages %}
                    {% if message.tags == "error" %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                    {% elif message.tags == "success" %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                    {% endif %}
                    {% endfor %}
                </div>
                </div>
                {% endif %}
                <br>
                <textarea name="feedback_message" class="form-control" rows="6" placeholder="Feedback Message"></textarea>
            </div>

            <button type="submit" class="btn btn-gradient-primary mr-2 ">Leave a Feedback</button>
            <!-- <input class="btn btn-light" type="reset" value="Cancel" onclick="return cancel()" />
            <script>
                function cancel() {
                    c=confirm("Do you really want to cancel?");
            
                    // Of course, the following could be shortened to "return c;"
                    if (c==true)
                    {
                        return true;
                    }
                    else{
                        return false;
                    }
                }
            </script>  -->
    </div>
    <hr>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Feedback History</h4>
            <!-- <p class="card-description"> Detailed information sheet about Students feedback -->
            </p>
            <hr>
            <div class="card-body table-responsive p-0">
                <table class = "table table-striped table-hover text-nowrap " style="border:1px solid #ccc;">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Feedback  Date</th>
                            <th>Feedback  Message</th>
                            <th>Feedback  Reply</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in feedback_data %}
                        <tr>
                            <td>{{ row.id }}</td>
                            <td>{{ row.created_at|date:'D,d/m/Y - H:i:s' }}</td>
                            <td>{{ row.feedback }}</td>
                            <td>{{ row.feedback_reply }}</td>
                            <td>
                                {% if row.feedback_reply == "" %}
                                    <span class="alert alert-warning">Sending</span>
                                {% else %}  
                                    <span class="alert alert-success">Replied</span>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
</div>

{% endblock content %}

{% block custom_js %}

{% endblock custom_js %}