{% extends 'hod_template/base_template.html'%}
{% load static %}
{% block page_title %} 
Add Courses
{% endblock page_title %}


{% block content %}

<div class="card">
    <div class="card-body">
      <h4 class="card-title">Form Add Courses</h4>
      <hr>
      <br>
      <form class="forms-sample" action="{% url 'add_course_save' %}" method="post">
        {% csrf_token %}

        

        <div class="form-group">
            <label >Course Name</label>
            <input type="text" class="form-control" name="course" placeholder="Enter Course">
        </div>
        <!-- <button type="submit" class="btn btn-gradient-primary mr-2 ">Add Course</button> -->
        <button type="button" id="button" class="btn btn-outline-primary" onclick="showSwal('success-message')">Add Course</button>
        <!-- <button  class="btn btn-outline-primary" onclick="showSwal('success-message')">Click here!</button> -->
        
        
        <input class="btn btn-light" type="reset" value="Cancel" onclick="return cancel()" />
        <script>
            function cancel() {
                c=confirm("Do you really want to cancel?");
        
                // Of course, the following could be shortened to "return c;"
                if (c==true)
                {
                    return true;
                }
                else{
                    return false;
                }
            }
        </script>
      </form>
    </div>
  </div>


{% endblock content %}