{% load static %}
    
<!-- container-scroller -->
<!-- plugins:js -->
<script src="{% static 'plugins/vendors/js/vendor.bundle.base.js' %}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="{% static 'plugins/vendors/chart.js/Chart.min.js' %}"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="{% static 'plugins/js/off-canvas.js' %}"></script>
<script src="{% static 'plugins/js/hoverable-collapse.js' %}"></script>
<script src="{% static 'plugins/js/misc.js' %}"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<script src="{% static 'plugins/js/dashboard.js' %}"></script>
<script src="{% static 'plugins/js/todolist.js' %}"></script>
    <!-- End custom js for this page -->