{% extends 'hod_template/base_template.html'%}
{% load static %}
{% block page_title %} 
Manage Course
{% endblock page_title %}


{% block content %}

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Manage Course</h4>
            <p class="card-description"> Course Details <code>.table-striped</code>
            </p>
            <table class="table table-striped p-0 card-body">
            <thead>
                <tr>
                <th> ID </th>
                <th> Subject Name </th>
                <th> Course Name </th>
                <th> Course ID </th>
                <th> Teacher Name </th>
                <th> Action </th>
                </tr>
            </thead>
            <tbody>
            {% for subject in subjects %}
                <tr>
                    <td> {{ subject.id }}</td>
                    <td> {{ subject.subject_name }}</td>
                    <td> {{ subject.subject_id.course_name }}</td>
                    <td> {{ subject.subject_id.id }}</td>
                    <td> {{ subject.teacher_id.first_name }} {{subject.teacher_id.last_name }}</td>
                    
                    <td><a href="/edit_subject/{{ subject.id }}" class="btn btn-success">Edit</a></td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
    </div>


{% endblock content %}