{% extends 'hod_template/base_template.html'%}
{% load static %}
{% block page_title %} 
Manage Course
{% endblock page_title %}


{% block content %}

    <div class="card">
        <div class="card-body">
          <h4 class="card-title">Manage Course</h4>
          <p class="card-description"> Course Details <code>.table-striped</code>
          </p>
          <table class="table table-striped p-0 card-body">
            <thead>
              <tr>
                <th> ID </th>
                <th> Course </th>
                <th> Action </th>
              </tr>
            </thead>
            <tbody>
            {% for course in courses %}
                <tr>
                    <td> {{ course.id }}</td>
                    <td> {{ course.course_name }}</td>
                    <td><a href="/edit_course/{{ course.id }}" class="btn btn-success">Edit</a></td>
                </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
    </div>  

{% endblock content %}